.banners{
    padding-top:$paddingt;
}
.ad_banner{
    height:460px;
    display: block;
}
.ad_banner1{
   background: url("../../images/safe-banner.png") no-repeat center;
}
.ad_banner2{
    background: url("../../images/template-bg.png") no-repeat;
    >span{
        display: block;
        width: 100%;
        max-width: 1530px;
        height: 100%;
        padding-top: 30px;
        text-align: center;
        background: url("../../images/template-banner.png") no-repeat 50%;
        margin: 0 auto;
        background-size: 1530px;
    }
}
.ad_banner3{
    background: thistle;
}