#admin{
    overflow: hidden;
    .navigator{
        // background:yellowgreen;
        max-width: 1140px;
        margin:0 auto;
        height: 120px;
        border-radius: 10px;
        .img{
            width: 150px;
            float: left;
        }
        .logo{
            width: 150px;
            cursor: pointer;
        }
        .login{
            float: right;
            padding:18px;
            margin:30px;
            color: #999;
            font-size:18px;
        }
        .user{
            float: right;
            position: relative;
            height:120px;
            width:50px;
            right:50px;
            img{
                width:48px;
                height:48px;
                border-radius: 50%;
                border:1px solid #666;
                position: absolute;
                right:0;
                top:35px;
                cursor: pointer;
            }
            p{
                margin-top:90px;
                text-align: center;
            }
            ul{
                position: absolute;
                top:120px;
                width: 100px;
                left:-25px;
                text-align: center;
                border:1px solid #999;
                border-radius: 10px;
                background: #fff;
                li{
                    height: 30px;
                    line-height: 30px;
                    color: #999;
                    cursor: pointer;
                    &:hover{
                        color:yellowgreen;
                    }
                }
            }
            .hide{
                display: none;
            }
            .show{
                display: block;
            }
        }
    }
    .content{
        max-width: 1140px;
        margin: 0 auto;
        .nav{
            background:papayawhip;
            border-radius: 10px;
            li{
                display: inline-block;
                width: 150px;
                height:40px;
                line-height: 40px;
                padding:0 15px;
                color:peru;
                cursor: pointer;
            }
            .router-link-active{
                color:rgb(243, 130, 9);
            }
        }
    }
    .breadNav{
        text-align: left;
        font-size: 16px;
        max-width: 1140px;
        margin: 0 auto;
        line-height: 30px;
        padding-left: 30px;
        color:rgb(95, 60, 25);
    }
    .main{
        max-width: 1140px;
        margin: 0 auto;
        overflow: hidden;
    }
    h3{
        text-align: center;
        color:#666;
        margin:20px 0;
    }
    .new-file{
        height:200px;
        width:200px;
        line-height: 200px;
        text-align: center;
        font-size: 20px;
        color:#fff;
        border-radius: 10px;
        background: rgb(221, 188, 155);
    }
    .center{
        position: absolute;
        width: 1140px;
    }
    .enter-enter,.enter-leave-to{
        opacity: 0;
    }
    .enter-enter-to, .enter-leave{
        opacity: 1;
    }
    .enter-enter-active, .enter-leave-active{
        transition: 1s;
    }
}