body {
    line-height: 1.5;
    font-size: $font-size;
    font-family: $font;
    color: $text-color;
    margin: 0;
    padding: 0;
    background-color: #fff;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
a,button,input{
    -webkit-tap-highlight-color:rgba(255,0,0,0);
    border:0;
    outline: none;
}

p,dl,dt,dd {
    padding: 0;
    margin: 0;
}

a {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}
input::-webkit-input-placeholder{
     color: $details-color !important;
}
input::-moz-placeholder{
     color: $details-color !important;
}
input:-moz-placeholder{
     color: $details-color !important;
}
input:-ms-input-placeholder{
     color: $details-color !important;
}
input::-webkit-search-cancel-button {
    display: none;
}

.content {
    max-width: 1140px;
    margin: 0 auto;
}

.clearfix {
    *zoom: 1;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
.clr {
    clear: both;
}

.bluecol {
    color: $blue;
}
a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline:none;
    padding: 0
}
.mb0 {
    margin-bottom: 0!important;

}
.mt20{
    margin-top: 20px;
}
.mt25{
    margin-top: 25px;
}
.mt30 {
    margin-top: 30px !important;
}

.mt50 {
    margin-top: 50px;
}
.mt60 {
    margin-top: 60px;
}

.mb50 {
    margin-bottom: 50px;
}

.ml5 {
    margin-left: 5px;
}
.ml10{
    margin-left: 10px;
}
.ml20 {
    margin-left: 20px;
}

.mr30 {
    margin-right: 30px;
}
.w250{
    width: 250px;
}
.w315{
    width: 315px;
}
.left {
    @include float(left);
}

.right {
    @include float(right);
}

.text-align-l {
    text-align: left;
}

.text-align-c {
    text-align: center;
}
.text-align-r{
    text-align: right;
}

.fwb {
    font-weight: bold;
}
.displayib{
    display: inline-block;
}
.displayNone {
    display: none;
}

.index-icon {
    @include image-url('icon-index.png');
}
.try-now-button {
    display: inline-block;
    @include border-radius(2px);
    text-align: center;
    cursor: pointer;
}
.mobileShow {
    display: none;
}
@media screen and (max-width: 768px){
  .mobileNone {
      display: none!important;
  }
  .mobileShow {
      display: inline-block;
  }
}
// 箭头
.wpsplus-link-arrow {
    display: inline-block;
    padding-right: 26px;
    position: relative;
    transition: padding 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    color: $link-color;
    font-size: 15px;
    letter-spacing: .058em;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
        padding-left: 10px;
        &:before {
            right: -5px;
            width: 15px;
        }
        &:after {
            right: -10px;
        }
    }
    &:after,
    &:before {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        content: '';
    }
    &:after {
        margin-top: -5px;
        border-top: 5px dashed transparent;
        border-bottom: 5px dashed transparent;
        border-left: 5px solid $link-color;
        transition: right 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    }
    &:before {
        margin-top: -1px;
        right: 4px;
        width: 11px;
        height: 2px;
        background-color: $link-color;
        transition: right 0.3s cubic-bezier(0.77, 0, 0.175, 1), width 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    }
}

// 头部注册登录
header {
    // 按钮
    a.header-button {
        display: inline-block;
        border: 1px solid $blue;
        line-height: 35px;
        font-size: 14px;
        @include text-align;
        @include size(109px,
        35px);
        @include float(right);
        @include border-radius(2px);
        box-sizing: border-box;
        margin-top: 14px;
    }
    .header-login {
        color: $blue;
        &:hover,
        {
            color: #fff;
            background-color: $blue;
        }
        &:active {
            color: $blue;
        }
    }
    .header-regist {
        background-color: $blue;
        color: #fff;
        &:hover {
            background-color: $hover-blue;
        }
    }
    // 登录成功
    .dropdown-toggle{
        display: inline-block;
        float: right;
        margin: 20px 0 0 20px;
        position: relative;
        color:  $title-color;
        >img{
            cursor:pointer;
            width: 20px;
            vertical-align: middle;
            border-radius: 50%;
        }
        .header-dropdown-info-contact{
            margin: 5px;
            font-size: 13px;
            color: $details-color;
            white-space: nowrap;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            word-wrap: normal;
            max-width: 200px;
            margin-left: auto;
            margin-right: auto;
        }
        .dropdown-line {
            height: 1px;
            background-color: $border-color;
            width: 100%;
            margin: 4px 0;
        }
        .header-info-list {
          >a{
            font-size: 14px;
            color:  $title-color;
            text-align: center;
            display: inline-block;
            width: 100%;
            height: 38px;
            line-height: 38px;
          }
          &:hover{
              background-color: $bg-color;
          }
        }
        .user-name{
            font-size: 14px;
            margin-right: 5px;
            white-space: nowrap;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            word-wrap: normal;
        }
        .dropdown-menu{
            width: 228px;
            position: absolute;
            top: 44px;
            left: -157px;
            z-index: 99999999;
            min-width: 160px;
            padding: 5px 0;
            list-style: none;
            font-size: 14px;
            text-align: center;
            background-color: #ffffff;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            background-clip: padding-box;
            .header-avatar-circle{
                width: 50px;
                border-radius: 50%;
            }
            >li{
                cursor: pointer;
            }
            .arrow-border{
                position: absolute;
                top: -16px;
                right: 10px;
                display: block;
                height: 0;
                width: 0;
                font-size: 0;
                line-height: 0;
                border-color: transparent transparent rgba(0, 0, 0, 0.2) transparent;
                border-style: dashed dashed solid dashed;
                border-width: 8px;
            }
            .arrow-inner{
                position: absolute;
                top: -9px;
                left: -10px;
                display: block;
                height: 0;
                width: 0;
                font-size: 0;
                line-height: 0;
                border-color: transparent transparent #fff transparent;
                border-style: dashed dashed solid dashed;
                border-width: 10px;
            }
        }
    }
}
.main {
    // 第一版
    section {
        // 立即添加 立即购买按钮
        .button {
            @include size(162px,
            50px);
            background-color: $blue;
            color: #fff;
            line-height: 50px;
            font-size: 18px;
            margin-top: 40px;
            &:hover {
                background-color: $hover-blue;
            }
        }
    }
    // 小灰色标题
    .small-category-title {
        font-size: 22px;
        color: $text-color;
        line-height: 30px;
        font-weight: lighter;
    }
    .big-category-title {
        font-size: 38px;
        color: $title-color;
        line-height: 53px;
        margin: 10px 0 22px;
    }
    .category-details {
        font-size: 18px;
        color: $details-color;
        line-height: 32px;
        @include text-align(left);
        font-weight: 300;
    }
    .wpsplus-link-arrow {
        margin-top: 27px;
    }
    .motif-title {
        font-size: 40px;
        line-height: 56px;
        color: $title-color;
    }
}

.center-header-shadow {
    box-shadow: 0 6px 3px -6px rgba(136,136,136,0.41);
}

// 小应用搜搜
input.app-search {
    color: $details-color;
    @include border-radius(3px);
    padding-left: 45px;
    background: url("/static/img/search.png") no-repeat 17px;
}

//春风计划 文档创意周 轮播
.activity-spring-swiper,.activity-doctasks-swiper{
    background-color: #fff;
    text-align: center;
    .small-category-title{
        margin-top: 64px;
    }
    .category-details{
        text-align: center;
    }
    .swiper-pagination-bullet{
        @include size(49px,5px);
        @include border-radius(2px);
    }
    .swiper-pagination-bullet-active{
        background: #66B8FF !important;
    }

    .office{
        >img{
            margin:48px auto 133px;
        }
    }
    .doc{
        >img{
            margin:45px auto 0;
        }
    }
    .safe{
        >img{
            margin:17px auto 0;
        }
    }
    .serve{
        >img{
            margin:62px auto 0;
        }
    }
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
        bottom: 60px;
    }
}
